<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Entities</title>
</head>
<body>
<h3 layout:fragment="header" th:text="${title}">Entities</h3>
<main layout:fragment="content">
    <div class="col-6">
        <form th:replace="~{fragments/forms :: searchByLikeFullName(${pluralName})}"></form>
        <a class="btn btn-success btn-sm" th:href="@{/{href}/new(href=${pluralName})}">New</a>
        <div th:replace="~{fragments/tables :: listOfEntity(${pluralName}, ${entities})}"></div>
    </div>
</main>
</body>
</html>