<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group</title>
    <style>
        tbody.scroll {
            display: block;
            height: 10.35rem;
            overflow-x: hidden;
            overflow-y: scroll;
            border-bottom-width: 1px;
        }

        thead,
        tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
    </style>
</head>
<body>
<h3 layout:fragment="header">Group</h3>
<main layout:fragment="content">
    <div class="col-6">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ms-2" role="presentation">
                <button aria-controls="home" aria-selected="true" class="nav-link active" data-bs-target="#home"
                        data-bs-toggle="tab" id="home-tab" role="tab" type="button">
                    Group
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button aria-controls="students" aria-selected="false" class="nav-link" data-app-id="btn-students-tab"
                        data-bs-target="#students" data-bs-toggle="tab" id="students-tab" role="tab" type="button">
                    Students
                </button>
            </li>
        </ul>
        <div class="mb-3"></div>
        <div class="tab-content">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                <form th:action="@{{href}(href=${#apputils.entityFormAction(entitiesHref, id)})}"
                      th:method="${#apputils.entityFormMethod(id)}" th:with="entitiesHref='groups'">
                    <th:block th:replace="~{entities/entity :: entityId('groupId', ${entity.groupId})}"/>
                    <th:block th:replace="~{entities/entity :: entityName('groupName', ${entity.groupName})}"/>
                    <th:block th:replace="~{entities/entity :: formButtons(${entitiesHref}, ${id})}"/>
                </form>
            </div>
            <div aria-labelledby="students-tab" class="tab-pane fade" id="students" role="tabpanel">
                <a class="btn btn-outline-secondary btn-sm" data-app-id="btn-students-refresh"
                   th:href="@{/students/groups/{groupId}(groupId=${id})}">
                    <i class="bi bi-arrow-clockwise"></i>
                </a>
                <table class="table table-striped" data-app-id="students-table">
                    <thead>
                    <tr>
                        <th class="col-1 text-end" scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody class="scroll">
                    <tr>
                        <td class="col-1 text-end" data-app-col-id="id">&nbsp;</td>
                        <td data-app-col-id="name">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                <script th:src="@{/js/app-group.js}"></script>
            </div>
        </div>
    </div>
</main>
</body>
</html>