<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<form th:action="@{/{href}(href=${entitiesHref})}" th:fragment="searchByLikeName(entitiesHref)" th:method="GET">
    <div class="input-group input-group-sm mb-3 flex-nowrap">
        <span class="input-group-text" id="like-name">Find by like name</span>
        <input aria-describedby="like-name" aria-label="likeName" class="container" name="likeName"
               placeholder="Like name" th:value="${searchParams['likeName']}" type="text"/>
        <button th:replace="~{fragments/forms :: buttonTip}"></button>
        <input class="btn btn-outline-primary btn-sm" type="submit" value="Find"/>
        <a class="btn btn-outline-success btn-sm" th:href="@{/{href}(href=${entitiesHref})}">Clear</a>
    </div>
    <div th:replace="~{fragments/forms :: searchTip}"></div>
</form>
<form th:action="@{/{href}(href=${entitiesHref})}" th:fragment="searchByLikeFullName(entitiesHref)" th:method="GET">
    <div class="input-group input-group-sm mb-3 flex-nowrap">
        <span class="input-group-text" id="like-full-name">Find by like name</span>
        <input aria-describedby="like-full-name" aria-label="likeFullName" class="container" name="likeFullName"
               placeholder="Like full name"
               th:value="${searchParams['likeFullName']}" type="text"/>
        <button th:replace="~{fragments/forms :: buttonTip}"></button>
        <input class="btn btn-outline-primary btn-sm" type="submit" value="Find"/>
        <a class="btn btn-outline-success btn-sm" th:href="@{/{href}(href=${entitiesHref})}">Clear</a>
    </div>
    <div th:replace="~{fragments/forms :: searchTip}"></div>
</form>
<button class="btn btn-outline-dark" data-bs-target="#searchTipModal" data-bs-toggle="modal" th:fragment="buttonTip"
        type="button">?
</button>
<div aria-hidden="true" aria-labelledby="searchTipModalLabel" class="modal fade" id="searchTipModal" tabindex="-1"
     th:fragment="searchTip">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchTipModalLabel">Tips</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                For substitute one or more characters use wildcards:<br>
                <span class="font-monospace bg-light text-dark">_</span> - represents a single character<br>
                <span class="font-monospace bg-light text-dark">%</span> - represents zero or more characters
                <hr>
                e.g.<br>
                For search string <span class="font-monospace bg-light text-dark">L% __me</span>
                true string is
                <span class="font-monospace bg-light text-dark">L% __m_%</span><br>
                and will be found:<br>
                Like name, Long Same, Little something etc.
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>