<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/app-main.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="sidebar">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 200px;">
        <a class="d-flex align-items-center pb-3 mb-3 border-bottom text-dark text-decoration-none" href="/">
            <i class="bi bi-mortarboard fs-2 fw-bold"></i>
            <span class="fs-4 fw-bold" style="margin-left: 15px">University</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button aria-expanded="false" class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-target="#home-collapse" data-bs-toggle="collapse">Timetable
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" th:href="@{/timetable}">Timetable</a></li>
                        <li><a class="link-dark rounded" th:href="@{/lectures}">Lectures</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button aria-expanded="false" class="btn btn-toggle align-items-center rounded collapsed"
                        data-bs-target="#catalogues-collapse" data-bs-toggle="collapse">Catalogues
                </button>
                <div class="collapse" id="catalogues-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded" th:href="@{/teachers}">Teachers</a></li>
                        <li><a class="link-dark rounded" th:href="@{/students}">Students</a></li>
                        <li><a class="link-dark rounded" th:href="@{/groups}">Groups</a></li>
                        <li><a class="link-dark rounded" th:href="@{/rooms}">Rooms</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
    <div class="b-example-divider"></div>
    <script th:src="@{/js/app-sidebars.js}"></script>
</nav>
</body>
</html>