<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
</head>
<body>
<div class="table-responsive" th:fragment="listOfEntity(entitiesHref, entities)">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-1 text-end" scope="col">ID</th>
            <th scope="col">Name</th>
            <th class="col-1" scope="col"></th>
        </tr>
        </thead>
        <tbody data-app-role="catalogue-items">
        <th:block th:if="${entities eq null}">
            <tr>
                <td class="text-end" data-app-col-id="id">&nbsp;</td>
                <td data-app-col-id="name">&nbsp;</td>
                <td class="text-center">&nbsp;</td>
            </tr>
        </th:block>
        <th:block th:each="entity : ${entities}"
                  th:with="entityHref=@{/{href}/{id}(href=${entitiesHref},id=${entity.getId()})}">
            <tr th:data-app-href="${entityHref}">
                <td class="text-end" th:text="${entity.getId()}">EntityId</td>
                <td>
                    <a class="link-dark" th:href="${entityHref}" th:text="${entity.getName()}">EntityName</a>
                </td>
                <td class="text-center" th:with="calendarHref=${entity.getCalendarHref()}">
                    <a class="link-dark" data-app-role="go-to-calendar" th:href="@{/{href}(href=${calendarHref})}"
                       th:unless="${calendarHref eq null}">
                        <i class="bi bi-calendar3"></i>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
        <script th:src="@{/js/app-row-as-link.js}"></script>
    </table>
</div>
</body>
</html>