<!DOCTYPE html>
<html lang="en" layout:decorate="~{error.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>500</title>
</head>
<body>
<h3 layout:fragment="header">Error 500</h3>
<main layout:fragment="content">
    <div class="col-6">
        <h1>500</h1>
        <p th:text="${exception.message}" th:unless="${exception eq null}">Message</p>
        <p th:text="${message}" th:unless="${message eq null}">Message</p>
    </div>
</main>
</body>
</html>