i[data-app-filter-active='true'].bi::before {
    content: "\f3e0";
}

i[data-app-filter-active='false'].bi::before {
    content: "\f3e1";
}

i[data-app-direction='first-asc'].bi::before {
    content: "\00a0\f238";
    display: contents;
}

i[data-app-direction='first-desc'].bi::before {
    content: "\00a0\f22c";
    display: contents;
}

i[data-app-direction='next-asc'].bi::before {
    content: "\00a0\f286";
    display: contents;
}

i[data-app-direction='next-desc'].bi::before {
    content: "\00a0\f282";
    display: contents;
}

