.b-example-divider {
    height: 138vh;
}

.control-panel {
    margin-bottom: 1em;
}

.app-inline-block {
    display: inline;
}

.grid {
    display: grid;
}

.month,
.week,
.week-header {
    grid-template-columns: 2% repeat(7, 14%);
}

.daily,
.daily-header {
    grid-template-columns: 2% 98%;
}

.month {
    border-left: 1px solid lightgray;
    grid-template-rows: 8em;
    grid-auto-rows: 8em;
}

.month > .day {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    padding: 0 0 0 0.5em;
    cursor: pointer;
}

p.lecture {
    background-color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 -0.5em;
    padding: 0 0 0 0.5em;
    border-top: 1px solid rgb(255, 255, 255);
}

.day-name {
    border-right: 1px solid lightgray;
    padding: 0 0 0 0.5em;
}

.week,
.daily {
    grid-template-rows: 64em;
    border-left: 1px solid lightgray;
}

.week-header {
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 0;
}

.week-header > .number-of-week {
    border-bottom: 0;
}

.number-of-week {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 1.5em 0 0 0.5em;
    cursor: pointer;
}

.number-of-week span,
.hour-scale span {
    font-size: 75%;
    color: silver;
}

.week > .day {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 0;
    padding: 0 0 0 0.5em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.daily-header {
    border: 1px solid lightgray;
    border-bottom: 0;
    border-right: 0;
}

.daily-header > .hour-scale {
    border-bottom: 0;
}

.hour-scale {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 2em 0 0 0.5em;
    position: relative;
}

.week .hour-scale {
    padding-top: 2em;
}

.daily > .day {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr) minmax(auto, 100%);
    grid-template-rows: auto;
}

.day-col {
    white-space: nowrap;
}

.day-col > p:first-of-type {
    padding-left: 0.5em;
    margin-top: -0.5em;
    margin-bottom: 1.5em;
}

p.lecture-part {
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.25em;
    background-color: whitesmoke;
}

.week .hour,
.daily .hour {
    text-overflow: ellipsis;
    position: absolute;
    width: 100%;
}

.display-none {
    display: none;
}

.app-btn-noborder-circle {
    border: 0;
    border-radius: 50rem !important;
}

