<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<form>
    <th:block th:fragment="entityId(fieldName, entityId)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="entity-id" id="id">ID</label>
            <input aria-describedby="id" class="form-control" id="entity-id" readonly th:name="${fieldName}"
                   th:value="${entityId}" type="number">
        </div>
    </th:block>
    <th:block th:fragment="entityName(fieldName, entityName)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="entity-name" id="name">Name</label>
            <input aria-describedby="name" class="form-control" id="entity-name" th:name="${fieldName}"
                   th:value="${entityName}" type="text">
        </div>
    </th:block>
    <th:block th:fragment="firstName(firstName)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="entity-first-name" id="first-name">First name</label>
            <input aria-describedby="first-name" class="form-control" id="entity-first-name" name="firstName"
                   th:value="${firstName}" type="text">
        </div>
    </th:block>
    <th:block th:fragment="surname(surname)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="entity-surname" id="surname">Surname</label>
            <input aria-describedby="surname" class="form-control" id="entity-surname" name="surname"
                   th:value="${surname}" type="text">
        </div>
    </th:block>
    <th:block th:fragment="selectGroup(groupId, groups)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="selectGroup">Group</label>
            <select class="form-select" id="selectGroup" name="groupId">
                <option th:selected="${groupId eq null}" value=""></option>
                <option th:each="group : ${groups}" th:selected="${groupId eq group.id}"
                        th:text="${group.name}" th:value="${group.id}">Name
                </option>
            </select>
        </div>
    </th:block>
    <th:block th:fragment="selectRoom(roomId, rooms)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="selectRoom">Room</label>
            <select class="form-select" id="selectRoom" name="roomId">
                <option th:selected="${roomId eq null}" value=""></option>
                <option th:each="room : ${rooms}" th:selected="${roomId eq room.id}"
                        th:text="${room.name}" th:value="${room.id}">Name
                </option>
            </select>
        </div>
    </th:block>
    <th:block th:fragment="selectTeacher(teacherId, teachers)">
        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text" for="selectTeacher">Teacher</label>
            <select class="form-select" id="selectTeacher" name="teacherId">
                <option th:selected="${teacherId eq null}" value=""></option>
                <option th:each="teacher : ${teachers}" th:selected="${teacherId eq teacher.id}"
                        th:text="${teacher.name}" th:value="${teacher.id}">Name
                </option>
            </select>
        </div>
    </th:block>
    <th:block th:fragment="formButtons(entitiesHref, id)">
        <a class="btn btn-primary btn-sm" th:href="@{/{href}(href=${entitiesHref})}">Close</a>
        <th:block th:unless="${'deleted'.equals(id)}">
            <input class="btn btn-success btn-sm" id="submit-save" type="submit" value="Save">
            <input class="btn btn-danger btn-sm" id="submit-delete" th:unless="${'new'.equals(id)}" type="submit"
                   value="Delete">
            <script th:src="@{/js/app-form-buttons.js}"></script>
        </th:block>
        <div class="mb-3"></div>
    </th:block>
</form>
</body>
</html>