<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>University</title>
</head>
<body>
<h3 layout:fragment="header">University</h3>
<main layout:fragment="content">
    <div class="col-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-start" scope="col">Timetable</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:data-app-href="${href}" th:with="href=@{/timetable}">
                    <td><a class="link-dark" th:href="${href}">Timetable</a></td>
                </tr>
                <tr scope="row" th:data-app-href="${href}" th:with="href=@{/lectures}">
                    <td><a class="link-dark" th:href="${href}">Lectures</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-start" scope="col">Сatalogs</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:data-app-href="${href}" th:with="href=@{/teachers}">
                    <td><a class="link-dark" th:href="${href}">Teachers</a></td>
                </tr>
                <tr scope="row" th:data-app-href="${href}" th:with="href=@{/students}">
                    <td><a class="link-dark" th:href="${href}">Students</a></td>
                </tr>
                <tr scope="row" th:data-app-href="${href}" th:with="href=@{/groups}">
                    <td><a class="link-dark" th:href="${href}">Groups</a></td>
                </tr>
                <tr scope="row" th:data-app-href="${href}" th:with="href=@{/rooms}">
                    <td><a class="link-dark" th:href="${href}">Rooms</a></td>
                </tr>
                </tbody>
            </table>
            <script th:src="@{/js/app-row-as-link.js}"></script>
        </div>
    </div>
</main>
</body>
</html>