<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/app-main.css}">
</head>
<body>
<div class="wrapper">
    <nav th:replace="~{fragments/sidebar :: sidebar}"></nav>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-start pt-3 pb-3 mt-2 mb-3 border-bottom">
            <h3 id="page-heading" layout:fragment="header">Template</h3>
        </header>
        <main layout:fragment="content"></main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>