<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
</head>
<body>
<h3 layout:fragment="header">Student</h3>
<main layout:fragment="content">
    <div class="col-6">
        <form th:action="@{{href}(href=${#apputils.entityFormAction(entitiesHref, id)})}"
              th:method="${#apputils.entityFormMethod(id)}" th:with="entitiesHref='students'">
            <th:block th:replace="~{entities/entity :: entityId('studentId', ${entity.studentId})}"/>
            <th:block th:replace="~{entities/entity :: firstName(${entity.firstName})}"/>
            <th:block th:replace="~{entities/entity :: surname(${entity.surname})}"/>
            <th:block th:replace="~{entities/entity :: selectGroup(${options.groupId}, ${options.groups})}"/>
            <th:block th:replace="~{entities/entity :: formButtons(${entitiesHref}, ${id})}"/>
        </form>
    </div>
</main>
</body>
</html>