<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Timetable</title>
    <link rel="stylesheet" th:href="@{/css/app-calendar.css}">
</head>
<body>
<h3 layout:fragment="header">Timetable</h3>
<main layout:fragment="content">
    <div data-app-id="calendar">
        <p class="h5" th:text="${subtitle}"></p>
        <div class="control-panel">
            <input hidden name="selected-date" th:value="${selectedDate}" type="date"/>
            <button class="col btn btn-outline-secondary" data-app-id="btn-today" type="button">Today</button>
            <div class="dropdown app-inline-block">
                <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle" data-app-id="btn-period"
                        data-app-value="Month" data-bs-toggle="dropdown" id="dropdownMenuButton"
                        type="button">
                    Month
                </button>
                <ul aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                    <li data-app-id="btn-day" data-app-value="Day"><span class="dropdown-item">Day</span></li>
                    <li data-app-id="btn-week" data-app-value="Week"><span class="dropdown-item">Week</span></li>
                    <li data-app-id="btn-month" data-app-value="Month"><span class="dropdown-item">Month</span></li>
                </ul>
            </div>
            <button class="btn btn-outline-secondary app-btn-noborder-circle" data-app-id="btn-back"
                    type="button"><span class="h5">&lt;</span></button>
            <button class="btn btn-outline-secondary app-btn-noborder-circle" data-app-id="btn-forward"
                    type="button"><span class="h5">&gt;</span></button>
            <p class="app-inline-block h5 align-middle" data-app-id="control-info">Title</p>
        </div>
        <div class="grid week-header">
            <div class="number-of-week"></div>
            <div class="day-name"><span class="h6">Mon</span></div>
            <div class="day-name"><span class="h6">Tue</span></div>
            <div class="day-name"><span class="h6">Wed</span></div>
            <div class="day-name"><span class="h6">Thu</span></div>
            <div class="day-name"><span class="h6">Fri</span></div>
            <div class="day-name"><span class="h6">Sat</span></div>
            <div class="day-name"><span class="h6">Sun</span></div>
        </div>
        <div class="grid month">
            <th:block th:each="d : ${#numbers.sequence(1, 42)}">
                <div class="number-of-week" th:attr="data-app-week=${d / 7 + 1}" th:if="${(d % 7) eq 1}">N</div>
                <div class="day" th:attr="data-app-month-day=${d}" th:text="${d}">Day</div>
            </th:block>
        </div>
        <div class="grid week">
            <div class="hour-scale" data-app-type="hour-scale"></div>
            <div class="day" th:attr="data-app-week-day=${d}" th:each="d : ${#numbers.sequence(1, 7)}" th:text="${d}">
                Day
            </div>
        </div>
        <div data-app-id="daily">
            <div class="grid daily-header">
                <div class="hour-scale"></div>
                <div class="day-name"><span class="h6" data-app-id="daily-header">Day</span></div>
            </div>
            <div class="grid daily">
                <div class="hour-scale" data-app-type="hour-scale"></div>
                <div class="day" data-app-id="daily-day">
                    <div class="day-col"></div>
                    <div class="day-col"></div>
                    <div class="day-col"></div>
                    <div class="day-col"></div>
                    <div class="day-col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-none" th:attr="data-app-response-data=${(data eq null) ? '{}' : data}"></div>
    <script th:src="@{/js/app-date-utils.js}"></script>
    <script th:src="@{/js/app-calendar.js}"></script>
</main>
</body>
</html>