<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lectures</title>
    <link rel="stylesheet" th:href="@{/css/app-lectures.css}">
    <style>
        .left-label {
            width: 5.75rem;
        }

        button[aria-controls=lecture-filter] i {
            margin: 0 .3rem 0 .1rem;
        }

        button[aria-controls=lecture-filter] span {
            margin: 0 0 0 .2rem;
        }

        #selectGroup:disabled,
        #selectTeacher:disabled {
            /* Here should be a double-click icon */
            cursor: pointer;
        }
    </style>
</head>
<body>
<h3 layout:fragment="header">Lectures</h3>
<main layout:fragment="content">
    <div class="col-8">
        <div class="col-12">
            <p>
                <button aria-controls="lecture-filter" aria-expanded="false"
                        class="btn btn-outline-secondary btn-sm"
                        data-bs-target="#lecture-filter" data-bs-toggle="collapse" type="button">
                    <i class="bi" data-app-filter-active="false"></i><span>&nbsp;Find by filter</span>
                </button>
            </p>
            <div class="collapse" id="lecture-filter" th:classappend="${filterParams.filter ? 'show' : ''}">
                <fieldset th:attr="data-app-id='filter-form',data-app-action=@{/lectures}">
                    <input aria-label="" hidden name="filter" type="checkbox" value="false"/>
                    <div class="input-group mb-2">
                        <div class="input-group input-group-sm mb-2">
                            <div class="input-group-text">
                                <input aria-label="" checked class="form-check-input mt-0" disabled type="checkbox">
                            </div>
                            <span class="input-group-text left-label">Date range</span>
                            <input aria-label="Date from" class="form-control" data-app-id="dateFrom"
                                   th:field="${filterParams.dateFrom}" type="date">
                            <input aria-label="Date to" class="form-control" data-app-id="dateTo"
                                   th:field="${filterParams.dateTo}" type="date">
                            <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle"
                                    data-app-id="periodChoice" data-bs-auto-close="outside" data-bs-toggle="dropdown"
                                    type="button">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li data-app-id="btn-today" data-app-value="Today"><span
                                        class="dropdown-item">Today</span></li>
                                <li data-app-id="btn-tomorrow" data-app-value="Tomorrow"><span
                                        class="dropdown-item">Tomorrow</span></li>
                                <li data-app-id="btn-after-tomorrow" data-app-value="After tomorrow"><span
                                        class="dropdown-item">After tomorrow</span></li>
                                <li>
                                <li class="list-group list-group-horizontal justify-content-center">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-day-minus">
                                            <i class="bi bi-dash-lg"></i>
                                        </li>
                                        <li class="list-group-item border-0 py-0">&nbsp;Day&nbsp;</li>
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-day-plus">
                                            <i class="bi bi-plus-lg"></i>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li data-app-id="btn-current-week" data-app-value="Current week"><span
                                        class="dropdown-item">Current week</span></li>
                                <li data-app-id="btn-next-week" data-app-value="Next week"><span
                                        class="dropdown-item">Next week</span></li>
                                <li class="list-group list-group-horizontal justify-content-center">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-week-minus">
                                            <i class="bi bi-dash-lg"></i>
                                        </li>
                                        <li class="list-group-item border-0 py-0">Week</li>
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-week-plus">
                                            <i class="bi bi-plus-lg"></i>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li data-app-id="btn-current-month" data-app-value="Current month"><span
                                        class="dropdown-item">Current month</span></li>
                                <li data-app-id="btn-next-month" data-app-value="Next month"><span
                                        class="dropdown-item">Next month</span></li>
                                <li class="list-group list-group-horizontal justify-content-center">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-month-minus">
                                            <i class="bi bi-dash-lg"></i>
                                        </li>
                                        <li class="list-group-item border-0 py-0">Month</li>
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-month-plus">
                                            <i class="bi bi-plus-lg"></i>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="input-group-text">
                                <input aria-label="" class="form-check-input mt-0" id="checkboxAllDay" name="allDay"
                                       th:checked="${!filterParams.allDay}" type="checkbox" value="false">
                            </div>
                            <label class="input-group-text" for="checkboxAllDay">Daily time range</label>
                            <input aria-label="Time from" class="form-control" data-app-id="timeFrom"
                                   th:field="${filterParams.timeFrom}" type="time">
                            <input aria-label="Time to" class="form-control" data-app-id="timeTo"
                                   th:field="${filterParams.timeTo}" type="time">
                            <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle"
                                    data-app-id="timeChoice" data-bs-auto-close="outside" data-bs-toggle="dropdown"
                                    type="button">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li data-app-id="btn-current-hour" data-app-value="Current hour"><span
                                        class="dropdown-item">Current hour</span></li>
                                <li data-app-id="btn-next-hour" data-app-value="Next hour"><span
                                        class="dropdown-item">Next hour</span></li>
                                <li class="list-group list-group-horizontal justify-content-center">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-hour-minus">
                                            <i class="bi bi-dash-lg"></i>
                                        </li>
                                        <li class="list-group-item border-0 py-0">Hour</li>
                                        <li class="btn btn-outline-secondary list-group-item border-0 py-0"
                                            data-app-id="btn-hour-plus">
                                            <i class="bi bi-plus-lg"></i>
                                        </li>
                                    </ul>
                                </li>
                                <li data-app-id="btn-after-now" data-app-value="After now"><span
                                        class="dropdown-item">After now</span></li>
                                <li data-app-id="btn-before-now" data-app-value="Before now"><span
                                        class="dropdown-item">Before now</span></li>
                                <li data-app-id="btn-all-day" data-app-value="All day"><span
                                        class="dropdown-item">All day</span></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input aria-controls="collapsed-by-lecture-drafts" aria-expanded="false"
                                           class="form-check-input" data-bs-target="#collapsed-by-lecture-drafts"
                                           data-bs-toggle="collapse" id="onlyDrafts" name="onlyDrafts"
                                           th:checked="${filterParams.onlyDrafts}"
                                           type="checkbox" value="true">
                                </div>
                                <div class="input-group-text left-label">
                                    <label class="form-check-label" for="onlyDrafts">Drafts</label>
                                </div>
                                <button class="btn btn-outline-secondary" data-bs-target="#draftsTipModal"
                                        data-bs-toggle="modal" type="button">?
                                </button>
                            </div>
                            <div aria-hidden="true" aria-labelledby="draftsTipModalLabel" class="modal fade"
                                 id="draftsTipModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="draftsTipModalLabel">Drafts</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                    type="button"></button>
                                        </div>
                                        <div class="modal-body">
                                            Drafts are lectures that do not have at least one of the following
                                            attributes: group, teacher, room
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-outline-dark" data-bs-dismiss="modal" type="button">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse col-12" id="collapsed-by-lecture-drafts"
                             th:classappend="${filterParams.onlyDrafts ? '' : 'show'}">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input aria-label="" class="form-check-input mt-0" id="checkboxAllGroups"
                                           name="allGroups" th:checked="${!filterParams.allGroups}"
                                           type="checkbox" value="false">
                                </div>
                                <label class="input-group-text left-label" for="checkboxAllGroups">Group</label>
                                <select aria-label="" class="form-select" data-app-id="selectGroup" id="selectGroup"
                                        name="groupId">
                                    <option th:selected="${filterParams.groupId eq null}" value=""></option>
                                    <th:block th:each="group : ${filterParams.groups}">
                                        <option th:selected="${filterParams.groupId eq group.id}"
                                                th:text="${group.name}" th:value="${group.id}">Name
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group-text">
                                    <input aria-label="" class="form-check-input mt-0" id="checkboxAllTeachers"
                                           name="allTeachers" th:checked="${!filterParams.allTeachers}"
                                           type="checkbox" value="false">
                                </div>
                                <label class="input-group-text left-label" for="checkboxAllTeachers">Teacher</label>
                                <select aria-label="" class="form-select" data-app-id="selectTeacher" id="selectTeacher"
                                        name="teacherId">
                                    <option th:selected="${filterParams.teacherId eq null}" value=""></option>
                                    <th:block th:each="teacher : ${filterParams.teachers}">
                                        <option th:selected="${filterParams.teacherId eq teacher.id}"
                                                th:text="${teacher.name}" th:value="${teacher.id}">Name
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-2">
                            <span class="input-group-text">
                                <i class="btn-outline-primary bi" data-app-filter-active="true"></i>
                            </span>
                            <button class="btn btn-outline-primary btn-sm" data-app-id="button-find">Find</button>
                            <button class="btn btn-outline-success btn-sm" data-app-id="button-clear">Clear</button>
                        </div>
                    </div>
                    <div class="display-none">
                        <select aria-label="" data-app-required="true" hidden="hidden" name="byDateTime"
                                th:with="direction=${parameters['byDateTime']}">
                            <option th:selected="${direction eq 'asc'}" value="asc">ASC</option>
                            <option th:selected="${direction eq 'desc'}" value="desc">DESC</option>
                        </select>
                        <select aria-label="" data-app-required="true" hidden="hidden" name="byGroup"
                                th:with="direction=${parameters['byGroup']}">
                            <option th:selected="${direction eq 'asc'}" value="asc">ASC</option>
                            <option th:selected="${direction eq 'desc'}" value="desc">DESC</option>
                        </select>
                        <select aria-label="" data-app-required="true" hidden="hidden" name="byTeacher"
                                th:with="direction=${parameters['byTeacher']}">
                            <option th:selected="${direction eq 'asc'}" value="asc">ASC</option>
                            <option th:selected="${direction eq 'desc'}" value="desc">DESC</option>
                        </select>
                        <select aria-label="" data-app-required="true" hidden="hidden" name="firstBy"
                                th:with="firstBy=${parameters['firstBy']}">
                            <option th:selected="${firstBy eq 'dateTime'}" value="dateTime">Date & time</option>
                            <option th:selected="${firstBy eq 'group'}" value="group">Group</option>
                            <option th:selected="${firstBy eq 'teacher'}" value="teacher">Teacher</option>
                        </select>
                        <input aria-label="" data-app-id="page-index" hidden max="0" min="0" step="1" type="number"
                               value="0"/>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="input-group input-group-sm mb-1 flex-nowrap">
            <div class="col-2"><a class="btn btn-success btn-sm" th:href="@{/lectures/new}">New</a></div>
            <div class="col-10" data-app-pagination>
                <input aria-label="" data-app-role="pg-index" data-app-value="0" hidden max="0" min="0" step="1"
                       type="number" value="0"/>
                <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item disabled" data-app-role="pg-first">
                        <a class="page-link" href="#"><i class="bi bi-chevron-bar-left"></i></a>
                    </li>
                    <li class="page-item disabled" data-app-role="pg-prev">
                        <a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active" data-app-role="pg-link" value="0">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item" data-app-role="pg-next">
                        <a class="page-link" href="#"><i class="bi bi-chevron-right sm"></i></a>
                    </li>
                    <li class="page-item" data-app-role="pg-last">
                        <a class="page-link" href="#"><i class="bi bi-chevron-bar-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-1 text-end" scope="col">ID
                        <i class="bi"></i>
                    </th>
                    <th data-app-orderly="dateTime" scope="col">Date &amp; time
                        <i class="bi" data-app-direction=""></i>
                    </th>
                    <th scope="col">Lecture name
                        <i class="bi"></i>
                    </th>
                    <th data-app-orderly="group" scope="col">Group
                        <i class="bi" data-app-direction=""></i>
                    </th>
                    <th data-app-orderly="teacher" scope="col">Teacher
                        <i class="bi" data-app-direction=""></i>
                    </th>
                    <th scope="col">Room
                        <i class="bi"></i>
                    </th>
                    <th class="col-1" scope="col"></th>
                </tr>
                </thead>
                <tbody th:attr="data-app-href=@{/lectures/}">
                <tr th:attr="data-app-href=@{/lectures/}">
                    <td class="text-end" data-app-col-id="id">LectureId</td>
                    <td data-app-col-id="date-time">Date & time</td>
                    <td data-app-col-id="name"><a class="link-dark" th:href="@{/lectures/}">LectureName</a></td>
                    <td data-app-col-id="group">Group</td>
                    <td data-app-col-id="teacher">Teacher</td>
                    <td data-app-col-id="room">Room</td>
                    <td class="text-end" data-app-col-id="link">
                        <a class="link-dark" target="_blank" th:href="@{/lectures/}">
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="display-none" th:attr="data-app-response-data=${(data eq null) ? '{}' : data}"></div>
        </div>
    </div>
    <script th:src="@{/js/app-date-utils.js}"></script>
    <script th:src="@{/js/app-lectures.js}"></script>
</main>
</body>
</html>