<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lecture</title>
</head>
<body>
<h3 layout:fragment="header">Lecture</h3>
<main layout:fragment="content">
    <div class="col-6">
        <form th:action="@{{href}(href=${#apputils.entityFormAction(entitiesHref, id)})}"
              th:method="${#apputils.entityFormMethod(id)}" th:with="entitiesHref='lectures'">
            <th:block th:replace="~{entities/entity :: entityId('lectureId', ${entity.lectureId})}"/>
            <th:block th:replace="~{entities/entity :: entityName('lectureName', ${entity.lectureName})}"/>
            <div class="input-group input-group-sm mb-3">
                <label class="input-group-text" for="lecture-date" id="date">Date</label>
                <input aria-describedby="date" class="form-control" id="lecture-date" th:field="${entity.lectureDate}"
                       type="date">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Time</span>
                <input aria-label="Beginning" class="form-control" th:field="${entity.beginning}" type="time">
                <input aria-label="Ending" class="form-control" name="ending" th:field="${entity.ending}" type="time">
            </div>
            <th:block th:replace="~{entities/entity :: selectGroup(${options.groupId}, ${options.groups})}"/>
            <th:block th:replace="~{entities/entity :: selectTeacher(${options.teacherId}, ${options.teachers})}"/>
            <th:block th:replace="~{entities/entity :: selectRoom(${options.roomId}, ${options.rooms})}"/>
            <th:block th:replace="~{entities/entity :: formButtons(${entitiesHref}, ${id})}"/>
        </form>
    </div>
</main>
</body>
</html>