<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room</title>
</head>
<body>
<h3 layout:fragment="header">Room</h3>
<main layout:fragment="content">
    <div class="col-6">
        <form th:action="@{{href}(href=${#apputils.entityFormAction(entitiesHref, id)})}"
              th:method="${#apputils.entityFormMethod(id)}" th:with="entitiesHref='rooms'">
            <th:block th:replace="~{entities/entity :: entityId('roomId', ${entity.roomId})}"/>
            <th:block th:replace="~{entities/entity :: entityName('roomName', ${entity.roomName})}"/>
            <th:block th:replace="~{entities/entity :: formButtons(${entitiesHref}, ${id})}"/>
        </form>
    </div>
</main>
</body>
</html>